$color-primary: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;
$color-white: #ffffff;

.bg-primary {
  background-color: $color-primary
}
.bg-success {
  background-color: $color-success
}
.bg-warning {
  background-color: $color-warning
}
.bg-danger {
  background-color: $color-danger
}
.bg-info {
  background-color: $color-info
}
.bg-white {
  background-color: $color-white
}

.text-primary {
  color: $color-primary
}
.text-success {
  color: $color-success
}
.text-warning {
  color: $color-warning
}
.text-danger {
  color: $color-danger
}
.text-info {
  color: $color-info
}
.text-white {
  color: $color-white
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #DCDFE6;
  // border-left: 1px solid rgba(0,0,0,0.1);
  // border-right: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    display: flex;
    .box-title {
      display: inline-block;
      font-size: 18px;
      margin: 0;
      line-height: 1;
    }
  }
  .with-border {
    border-bottom: 1px solid #f4f4f4;
  }
  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
  }
}
.box-info {
  border-top-color: $color-info;
}
.box-primary {
  border-top-color: $color-primary;
}
.box-danger {
  border-top-color: $color-danger;
}
.box-warning {
  border-top-color: $color-warning;
}
.box-success {
  border-top-color: $color-success;
}